.header {
	text-align: center;
	color: gold;
	text-shadow: 2px 2px black;
	font-size: 30px;
	background-color: lightblue;
	width: 75%;
	height: 100px;
	margin-left: 206px;
	border: 2px solid blue;
	
}

.wrapper {
	width: 75%;
	height: 500px;
	margin: 0 auto;
	border: 2px solid blue;
	background-color: red;
	padding-top: 10px;


}

 .buttons {
	text-align: center;
	justify-content: center;

}

#Play {

	height: 150px;
	width: 150px;
	background-color: lightblue;
	border: 3px solid black;
	font-size: 30px;
	margin-top: 20px;
	font-weight: bold;
}

#Stop {

	height: 150px;
	width: 150px;
	background-color: lightblue;
	border: 3px solid black;
	font-size: 30px;
	margin-top: 20px;
	font-weight: bold;
}

#Pause {

	height: 150px;
	width: 150px;
	background-color: lightblue;
	border: 3px solid black;
	font-size: 30px;
	margin-top: 20px;
	font-weight: bold;
}

#Previous {

	height: 150px;
	width: 150px;
	background-color: lightblue;
	border: 3px solid black;
	font-size: 30px;
	margin-top: 20px;
	font-weight: bold;
}

#Next {

	height: 150px;
	width: 150px;
	background-color: lightblue;
	border: 3px solid black;
	font-size: 30px;
	margin-top: 20px;
	font-weight: bold;
}

#Random {

	height: 150px;
	width: 150px;
	background-color: lightblue;
	border: 3px solid black;
	font-size: 30px;
	margin-top: 20px;
	font-weight: bold;
}

.img {
	height: 100px;
	width: 100px;

}

























